.register{
    
    label{
        display: inline-block;
        width: 100px;
       
    }
    input{
        outline: none;
        padding: 5px;
        margin: 5px;
        border-radius: 5px;
        border: 1px solid rgb(5, 239, 247);
    }
}